<div class="card-section">
    <div class="card1">
    <app-card [h4Content]="'Seo'"
    [pContent]="'programming a entire responsive web'"
    [priceContent]='300'>
        
    </app-card>
</div>
<div class="card2">
    <app-card [h4Content]="'Ads'"
    [pContent]="'programming a entire responsive web'"
    [priceContent]='400'>
        
    </app-card>
</div>
<div class="card3">
    <app-card [h4Content]="'Web'"
    [pContent]="'programming a entire responsive web'"
    [priceContent]='500'>
        
    </app-card>
</div>
</div>

