<div class="card-section">
  <div class="card1 mt-5">
    <app-card
      [h4Content]="'Seo'"
      [pContent]="'programming a entire responsive web'"
      [priceContent]="300"
    >
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="service"
          id="seo"
          [(ngModel)]="selectedService"
          [value]="'Seo'"
        />
        <label class="form-check-label fa-beat-fade" for="seo">Add</label>
      </div>
      <div *ngIf="selectedService === 'Seo'" class="displays">
        <p class="fw-bold"><fa-icon [icon]="faCircleInfo" (click)="pagesInfo()" ></fa-icon>Number of pages</p>
        <button (click)="budgetService.minusPages('Seo')" class="btn btn-light rounded-circle"><fa-icon [icon]="faminus "  class="fa-xs"></fa-icon></button>
        <span>{{budgetService.pageCounters['Seo']}}</span>
        <button (click)="budgetService.plusPages('Seo')" class="btn btn-light rounded-circle"> <fa-icon [icon]="faplus" class="fa-xs fa-beat-fade" ></fa-icon></button>
     
        <p class="fw-bold"><fa-icon [icon]="faCircleInfo" (click)="languageInfo()" ></fa-icon>Number of languages</p>
        <button (click)="budgetService.minusLanguages('Seo')" class="btn btn-light rounded-circle"><fa-icon [icon]="faminus "  class="fa-xs"></fa-icon></button>
        <span>{{budgetService.languagesCounters['Seo']}}</span>
        <button (click)="budgetService.plusLanguages('Seo')" class="btn btn-light rounded-circle"> <fa-icon [icon]="faplus" class="fa-xs fa-beat-fade" ></fa-icon></button>
      </div>
    </app-card>
  </div>

  <div class="card2">
    <app-card
      [h4Content]="'Ads'"
      [pContent]="'programming a entire responsive web'"
      [priceContent]="400"
    >
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="service"
          id="ads"
          [(ngModel)]="selectedService"
          [value]="'Ads'"
        />
        <label class="form-check-label fa-beat-fade" for="ads">Add</label>
      </div>
      <div *ngIf="selectedService === 'Ads'">
        <p class="fw-bold"><fa-icon [icon]="faCircleInfo" (click)="pagesInfo()" ></fa-icon>Number of pages</p>
        <button (click)="budgetService.minusPages('Ads')" class="btn btn-light rounded-circle"><fa-icon [icon]="faminus "  class="fa-xs"></fa-icon></button>
        <span>{{budgetService.pageCounters['Ads']}}</span>
        <button (click)="budgetService.plusPages('Ads')" class="btn btn-light rounded-circle"> <fa-icon [icon]="faplus" class="fa-xs fa-beat-fade" ></fa-icon></button>
     
        <p class="fw-bold"><fa-icon [icon]="faCircleInfo" (click)="languageInfo()" ></fa-icon>Number of languages</p>
        <button (click)="budgetService.minusLanguages('Ads')" class="btn btn-light rounded-circle"><fa-icon [icon]="faminus "  class="fa-xs"></fa-icon></button>
        <span>{{budgetService.languagesCounters['Ads']}}</span>
        <button (click)="budgetService.plusLanguages('Ads')" class="btn btn-light rounded-circle"><fa-icon [icon]="faplus "  class="fa-xs"></fa-icon></button>
      </div>
    </app-card>
  </div>

  <div class="card3">
    <app-card
      [h4Content]="'Web'"
      [pContent]="'programming an entire responsive web'"
      [priceContent]="500"
    >
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="service"
          id="web"
          [(ngModel)]="selectedService"
          [value]="'Web'"
        />
        <label class="form-check-label fa-beat-fade" for="web">Add</label>
      </div>
      <div *ngIf="selectedService === 'Web'">
        <p class="fw-bold" ><fa-icon [icon]="faCircleInfo" (click)="pagesInfo()" ></fa-icon>Number of pages</p>
        <button (click)="budgetService.minusPages('Web')" class="btn btn-light rounded-circle"><fa-icon [icon]="faminus "  class="fa-xs"></fa-icon></button>
        <span>{{budgetService.pageCounters['Web']}}</span>
        <button (click)="budgetService.plusPages('Web')" class="btn btn-light rounded-circle"> <fa-icon [icon]="faplus" class="fa-xs fa-beat-fade" ></fa-icon></button>
     
        <p class="fw-bold"><fa-icon [icon]="faCircleInfo" (click)="languageInfo()" ></fa-icon>  Number of languages</p>
        <button (click)="budgetService.minusLanguages('Web')" class="btn btn-light rounded-circle"> <fa-icon [icon]="faminus" class="fa-xs fa-beat-fade" ></fa-icon></button>
        <span>{{budgetService.languagesCounters['Web']}}</span>
        <button (click)="budgetService.plusLanguages('Web')" class="btn btn-light rounded-circle"> <fa-icon [icon]="faplus" class="fa-xs fa-beat-fade" ></fa-icon></button>
    </div>
    </app-card>
  </div>
  <div class="total mt-5 mx-5">
    <h4 class="fw-bold ">Proposed Price: {{getServiceValue()}}€</h4>
  </div>
</div>
